<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../styles/discount.css">
    <title>Document</title>
</head>

<body>
    <div class="mmm_layout">
        <div class="mmm_header">
            <div class="logo">
                <h1>
                    <a href="https://m.manmanbuy.com/"><img src="../static/images/mlogo.png"></a>
                </h1>
            </div>
            <div class="searchbox">
                <form action="Search" method="get">
                    <span class="mui-icon mui-icon-search"></span>
                    <input type="text" name="key" placeholder="商品比价、查历史价">
                </form>
            </div>
            <div class="download"><a target="_blank" href="https://at.umeng.com/onelink/Pvmmmy">下载</a></div>
        </div>
        <div class="scroller">
            <ul class="clearfix">
                <li><a href="../index.html" class="on">首页</a></li>
                <li><a href="./moneyctrl.html">省钱控</a></li>
                <li><a href="./coupon.html">优惠价</a></li>
                <li><a href="./category.html">比价搜索</a></li>
                <li><a href="./inlanddiscount.html">国内折扣</a></li>
                <li><a href="./baicaijia.html">白菜价</a></li>
                <li><a href="./sitenav.html">商城商标</a></li>
            </ul>
        </div>
        <div class="mmm_content">
            <ul>

            </ul>
        </div>
        <div class="mmm_footer">
            <div class="foot_top">
                <a href="login.aspx">登录</a>
                <a href="reg.aspx">注册</a>
                <a href="#" style="width: 40%;">
                    <img src="../static/images/top.jpg" width="15" height="15">返回顶部
                </a>
            </div>
            <div class="footer">
                <p>
                    <a href="https://at.umeng.com/onelink/Pvmmmy" onclick="trackEvent('footer下载');"
                        style="color: Red;">手机APP下载</a> <a href="http://m.manmanbuy.com">
                        慢慢买手机版</a> -- 掌上比价平台</p>
                <p>
                    m.manmanbuy.com
                </p>
            </div>
        </div>
    </div>
    <script type="text/template" id="discountProductTmp">
        {{each result value index}}
            <li class="border-img">
                <a href="shabi.html?productid={{value.productId}}" title="《皮囊》 19.9元">
                    <div class="img">{{@value.productImg}}</div>
                    <div class="title">{{value.productName}}</div>
                    <div class="subtit">{{value.productPrice}}</div>
                    <div class="info">
                        <div class="mall">{{value.productFrom}} | {{value.productTime}}</div>
                    </div>
                </a>
            </li>
            {{/each}}
    </script>
    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../lib/zepto/zepto.js"></script>
    <script src="../js/register.js"></script>
    <script src="../js/discount.js"></script>
</body>

</html>