.mmm_layout {
  width: 100vw;
  height: 100vh;
  max-width: 960px;
  display: flex;
}

.mmm_header {
  width: 100%;
  height: 45px;
}

.mui-scroll {
  top: 45px;
  padding-bottom: 30px;
}

// 面包屑导航样式
.mmm_content {
  width: 100%;
  flex: 1;

  .crumbs {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
    margin-top: 20px;
    padding-left: 20px;
  }

  .crumbs {
    height: 40px;

    ul {
      display: inline-block;

      >li {
        float: right;
        padding: 5px 5px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
        margin: 0px 0 0 -20px;
        border-radius: 0 50px 50px 0;

        >a {
          display: block;
          overflow: hidden;
          min-width: 50px;
          color: #fff;
          text-align: center;
          border-radius: 0 50px 50px 0;
          box-sizing: border-box;
          height: 30px;
          line-height: 30px;
          padding-right: 10px;
          padding-left: 20px;
          background-color: #ff841d;

          >.text {
            font-size: 15px;
            display: inline-block;
          }
        }
      }
    }
  }

}