html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
.clearfix:after {
  content: "020";
  display: block;
  font-size: 0px;
  line-height: 0px;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
  /*为IE6，7的兼容性设置*/
}
.mmm_layout .mmm_header {
  height: 45px;
  width: 100%;
  padding: 0 8px;
  background-color: #fff;
  position: fixed;
  display: flex;
  z-index: 999;
}
.mmm_layout .mmm_header .logo {
  height: 40px;
  width: 90px;
  padding-top: 8px;
}
.mmm_layout .mmm_header .logo img {
  width: 100%;
}
.mmm_layout .mmm_header .searchbox {
  padding: 6px 10px;
  flex: 1;
}
.mmm_layout .mmm_header .searchbox form {
  position: relative;
}
.mmm_layout .mmm_header .searchbox form span {
  position: absolute;
  top: 6px;
  left: 8px;
  font-size: 18px;
}
.mmm_layout .mmm_header .searchbox form input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  text-indent: 10px;
  background-color: #eee;
  font-size: 14px;
}
.mmm_layout .mmm_header .download {
  margin-top: 8px;
  width: 42px;
}
.mmm_layout .mmm_header .download a {
  display: block;
  padding: 4px;
  border: 1px solid #f00;
  color: #f00;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
}
.mmm_layout .scroller {
  width: 100%;
  line-height: 30px;
  text-align: center;
  position: fixed;
  top: 45px;
  z-index: 998;
  background-color: #fff;
}
.mmm_layout .scroller ul {
  display: flex;
  font-size: 12px;
}
.mmm_layout .scroller ul li {
  flex: 1;
}
.mmm_layout .scroller ul li a {
  color: #333;
}
.mmm_layout .mmm_content {
  position: relative;
  top: 90px;
  margin-bottom: 100px;
}
.mmm_layout .mmm_content .navlist {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}
.mmm_layout .mmm_content .navlist a {
  width: 30%;
  text-indent: 20px;
  position: relative;
  display: inline-block;
  padding: 6px;
  border: 1px solid #333;
  font-size: 13px;
  color: #333;
  background-color: #eee;
  margin-bottom: 15px;
}
.mmm_layout .mmm_content .navlist a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45px, -50%);
}
.mmm_layout .mmm_footer .foot_top {
  margin-top: 50px;
  display: flex;
}
.mmm_layout .mmm_footer .foot_top a {
  display: block;
  flex: 1;
  line-height: 33px;
  text-align: center;
  border: 1px solid #ccc;
  color: #333;
  font-size: 14px;
}
.mmm_layout .mmm_footer .footer {
  margin: 15px 0;
}
.mmm_layout .mmm_footer .footer p {
  line-height: 22px;
  font-size: 12px;
  text-align: center;
}
